body {
    align-content: space-around;
    text-align: center; 
}
#header {
    width: 100%;
    text-align: center; 
    text-align: center;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: rgb(1, 102, 94);
    /*font-size: 50px;*/
}

div { 
    margin: 3px; 
    text-align: center; 
    width:20%; 
    border-radius: 15px;
    align-content: space-around;
    font-family: 'Montserrat', sans-serif;
    color: white;
} 

#allFood {
    position: relative; 
    display: flex;
    width: 100%;
}

#monDiv {
    background-color: #900C3F;
    border: solid 2px #900C3F  ;
}

#tuesDiv {
    background-color:#0ABFAE;
    border: solid 2px #0ABFAE;
}

#wedDiv {
    background-color: #EBB400;
    border: solid 2px #EBB400;
}

#thursDiv {
    background-color: #5FB100;
    border: solid 2px #5FB100;
}

#friDiv {
    background-color: #5D05BE;
    border: solid 2px #5D05BE;
}

img {
    width: 80%;
    border-radius: 10px; 
} 