body {
    bgcolor:#8e0040; 
}

div { 
    border: solid 2px black;
    margin: 8px; 
    text-align: center; 
    width: 50%;
}

#header1 {
    text-align: center; 

}

img {
    width: 80%;
}

h4 {
    font: "Century Gothic";
    color: 
}